.table.table-header tbody tr th {
    background-color: #00a65a;
    color: #fff;
}

.table > thead:first-child > tr:first-child > th {
    border-top: 1px solid #ddd;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table.table-bordered.dataTable {
    border-collapse: collapse !important;
}

/* datepicker css */
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #acacac;
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: #eee;
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background: #eee;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/* end datepicker css */

.room-list {
    /*max-height: 150px;*/
    overflow-y: visible;
    overflow-x: hidden;
}

.left-label label.control-label {
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .table-responsive {
        /*overflow-x: hidden;*/
    }
}

.btn-box {
    padding: 5px;
    font-size: 12px;
}

.select2-container{
    width: 100% !important;
}

header.page {
    height: 300px;
    min-height: 350px;
    padding-top: 0;
    padding-bottom: 0;
}